/* Global Styles */
html, body, main, .theme-full-height {height:100%;}
header h1 {
    font-family:inherit;
    margin:0;
}
main {
    padding-top:46px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* W3 Overrides */
.w3-top{z-index:100;}


/* Branding Commands */
.branding-commands {
	width:110px;
	background-color: #232323;    
    padding:0;
    text-align:center;
}
.branding-commands > button,
.branding-commands > a {
	background:transparent;
	color: #E2E2E2;
	border:none;
	text-decoration:none;
	display:block;/* ???? */
	width:100%;
	transition:background-color 500ms;
}

.branding-commands > button:hover,
.branding-commands > a:hover{
	cursor:pointer;
	background-color:#000;
	transition:background-color 500ms;
}

/* Branding Editor */
.branding-editor {
	padding-left:0;
	background-color: #232323; 
	border-left:1px solid #000;
	color:#fff;
}

#editor {
    position: relative;
    width: calc(100% + 16px);
    height: 100%;
}

/* Branding Forms */
.branding-form {
	max-width: 500px;
}

.branding-tree-radio {
	width:20px;
}